<a href="https://colab.research.google.com/github/siyonasnotra/PY-LabExercise-1/blob/main/LABEX1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#question1:

s_list=[1,3,5,7,9]
print(s_list)

#sum
sum_list=sum(s_list)
print(sum_list)

#multiply
p = 1
for i in s_list:
    p = p*i
print("Product of all items:", p)

#largest number
l=max(s_list)
print("Largest number is:", l)

#smallest number
print("Smallest number is:", min(s_list))

25
Product of all items: 945
Largest number is: 9
Smallest number is: 1

In [ ]:
#Question 2

A = ['abc', 'xyz', 'aba', '1221']

index = 0
for string in A:
    if len(string) > 0 and string[0] == string[-1]:
        print("String:",string ,"; Index:",index)
    index = index+1

String: aba ; Index: 2
String: 1221 ; Index: 3

In [ ]:
#Question3

#alphabet Triangle
def alphabet_triangle(n):
    for i in range(n):
        for j in range(i + 1):
            print(chr(65 + j), end='')
        print()

n = 5
alphabet_triangle(n)

print("\n")

#star Triangle
def star_triangle(n):
    for i in range(n):
        for j in range(i + 1):
            print('*', end='')
        print()

n = 5
star_triangle(n)

A
AB
ABC
ABCD
ABCDE


*
**
***
****
*****

In [ ]:
#Question 4

color_names = ["Black", "Red", "Maroon", "Yellow"]
color_codes = ["000000", "FF0000", "800000", "FFFF00"]

color_list = []

# Iterate over the indices of the lists
for i in range(len(color_names)):
    color_dict = {
        'colorName': color_names[i],
        'colorCode': color_codes[i]
    }
    color_list.append(color_dict)

# Print the result
for color_dict in color_list:
    print(color_dict)

{'colorName': 'Black', 'colorCode': '000000'}
{'colorName': 'Red', 'colorCode': 'FF0000'}
{'colorName': 'Maroon', 'colorCode': '800000'}
{'colorName': 'Yellow', 'colorCode': 'FFFF00'}

In [ ]:
#Question 5

#range(1, 50)
print("Even numbers and their squares for range(1, 50):")
for num in range(1, 50):
    if num % 2 == 0:
        print("Number:",num, "Square:",num ** 2)

print("\n")

#range(1, 100)
print("Even numbers and their squares for range(1, 100):")
for num in range(1, 100):
    if num % 2 == 0:
        print("Number:",num, "Square:", num ** 2)

Even numbers and their squares for range(1, 50):
Number: 2 Square: 4
Number: 4 Square: 16
Number: 6 Square: 36
Number: 8 Square: 64
Number: 10 Square: 100
Number: 12 Square: 144
Number: 14 Square: 196
Number: 16 Square: 256
Number: 18 Square: 324
Number: 20 Square: 400
Number: 22 Square: 484
Number: 24 Square: 576
Number: 26 Square: 676
Number: 28 Square: 784
Number: 30 Square: 900
Number: 32 Square: 1024
Number: 34 Square: 1156
Number: 36 Square: 1296
Number: 38 Square: 1444
Number: 40 Square: 1600
Number: 42 Square: 1764
Number: 44 Square: 1936
Number: 46 Square: 2116
Number: 48 Square: 2304


Even numbers and their squares for range(1, 100):
Number: 2 Square: 4
Number: 4 Square: 16
Number: 6 Square: 36
Number: 8 Square: 64
Number: 10 Square: 100
Number: 12 Square: 144
Number: 14 Square: 196
Number: 16 Square: 256
Number: 18 Square: 324
Number: 20 Square: 400
Number: 22 Square: 484
Number: 24 Square: 576
Number: 26 Square: 676
Number: 28 Square: 784
Number: 30 Square: 900
Number: 32 Square: 1024
Number: 34 Square: 1156
Number: 36 Square: 1296
Number: 38 Square: 1444
Number: 40 Square: 1600
Number: 42 Square: 1764
Number: 44 Square: 1936
Number: 46 Square: 2116
Number: 48 Square: 2304
Number: 50 Square: 2500
Number: 52 Square: 2704
Number: 54 Square: 2916
Number: 56 Square: 3136
Number: 58 Square: 3364
Number: 60 Square: 3600
Number: 62 Square: 3844
Number: 64 Square: 4096
Number: 66 Square: 4356
Number: 68 Square: 4624
Number: 70 Square: 4900
Number: 72 Square: 5184
Number: 74 Square: 5476
Number: 76 Square: 5776
Number: 78 Square: 6084
Number: 80 Square: 6400
Number: 82 Square: 6724
Number: 84 Square: 7056
Number: 86 Square: 7396
Number: 88 Square: 7744
Number: 90 Square: 8100
Number: 92 Square: 8464
Number: 94 Square: 8836
Number: 96 Square: 9216
Number: 98 Square: 9604

In [ ]:
#Question 6

number = int(input("Enter a four-digit number: "))
if 1000 <= number <= 9999:
    number_str = str(number)

    #Sum of digits
    sum_of_digits = sum(int(digit) for digit in number_str)
    print("Sum of digits:",sum_of_digits)

    #Reverse the number
    reverse_number = number_str[::-1]
    print("Reversed number:",reverse_number)
else:
    print("Please enter a valid four-digit number.")

Enter a four-digit number: 1234
Sum of digits: 10
Reversed number: 4321

In [ ]:
#Question 7
import math
def calculate_area(a, b, c):
    s = (a + b + c) / 2
    area = math.sqrt(s * (s - a) * (s - b) * (s - c))
    return area

#sides of first triangle
a1 = float(input("Enter the first side of the first triangle: "))
b1 = float(input("Enter the second side of the first triangle: "))
c1 = float(input("Enter the third side of the first triangle: "))

#sides of second triangle
a2 = float(input("Enter the first side of the second triangle: "))
b2 = float(input("Enter the second side of the second triangle: "))
c2 = float(input("Enter the third side of the second triangle: "))


area1 = calculate_area(a1, b1, c1)
area2 = calculate_area(a2, b2, c2)

total_area = area1 + area2

#contribution percentage
contribution1 = (area1 / total_area) * 100
contribution2 = (area2 / total_area) * 100

# Print the results
print("Area of First Triangle:",area1)
print("Area of Second Triangle:",area2)
print("Total Area:",total_area)
print("Contribution of First Triangle:",contribution1)
print("Contribution of Second Triangle:",contribution2)

Enter the first side of the first triangle: 3
Enter the second side of the first triangle: 4
Enter the third side of the first triangle: 5
Enter the first side of the second triangle: 6
Enter the second side of the second triangle: 8
Enter the third side of the second triangle: 10
Area of First Triangle: 6.0
Area of Second Triangle: 24.0
Total Area: 30.0
Contribution of First Triangle: 20.0
Contribution of Second Triangle: 80.0

In [ ]:
#Question 8

people = [
    {"name": "John Doe", "age": 30, "blood_group": "A+"},
    {"name": "Jane Smith", "age": 25, "blood_group": "B-"},
    {"name": "Emily Davis", "age": 40, "blood_group": "O+"},
    {"name": "Michael Brown", "age": 35, "blood_group": "AB-"},
    {"name": "William Johnson", "age": 28, "blood_group": "A-"},
    {"name": "Emma Wilson", "age": 22, "blood_group": "B+"},
    {"name": "Oliver Martinez", "age": 33, "blood_group": "O-"},
    {"name": "Sophia Anderson", "age": 27, "blood_group": "AB+"},
    {"name": "James Thomas", "age": 45, "blood_group": "A+"},
    {"name": "Isabella Lee", "age": 38, "blood_group": "B-"}
]

for person in people:
    print("Name:",person['name'])
    print("Age:", person['age'])
    print("Blood Group:",person['blood_group'])
    print('-' * 20)

Name: John Doe
Age: 30
Blood Group: A+
--------------------
Name: Jane Smith
Age: 25
Blood Group: B-
--------------------
Name: Emily Davis
Age: 40
Blood Group: O+
--------------------
Name: Michael Brown
Age: 35
Blood Group: AB-
--------------------
Name: William Johnson
Age: 28
Blood Group: A-
--------------------
Name: Emma Wilson
Age: 22
Blood Group: B+
--------------------
Name: Oliver Martinez
Age: 33
Blood Group: O-
--------------------
Name: Sophia Anderson
Age: 27
Blood Group: AB+
--------------------
Name: James Thomas
Age: 45
Blood Group: A+
--------------------
Name: Isabella Lee
Age: 38
Blood Group: B-
--------------------

In [ ]:
#Question 9

input_tuple = ("python", "learn", "includehelp")
rear_elements = [word[-1] for word in input_tuple]

print(rear_elements)

['n', 'n', 'p']

In [5]:
#Question 10

# List of month names
months = ("January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December")

# Function to determine if a year is a leap year
def is_leap_year(year):
    if (year % 4 == 0):
        if (year % 100 == 0):
            if (year % 400 == 0):
                return True
            else:
                return False
        else:
            return True
    else:
        return False

# Function to get the number of days in a month
def get_days_in_month(month, year):
    if month == "January":
        return 31
    elif month == "February":
        if is_leap_year(year):
            return 29
        else:
            return 28
    elif month == "March":
        return 31
    elif month == "April":
        return 30
    elif month == "May":
        return 31
    elif month == "June":
        return 30
    elif month == "July":
        return 31
    elif month == "August":
        return 31
    elif month == "September":
        return 30
    elif month == "October":
        return 31
    elif month == "November":
        return 30
    elif month == "December":
        return 31
    else:
        return "Invalid month name"

# Taking inputs from the user
month = input("Enter the month name: ")
if month == "February":
    year = int(input("Enter the year: "))
    days = get_days_in_month(month, year)
else:
    days = get_days_in_month(month, 2024)  # Using a dummy year for non-February months

# Displaying the result
print("The number of days in",month "is:",days)

Enter the month name: February
Enter the year: 2000
The number of days in February is: 29